body{
    display: block;
}
/*Creating choice board*/
#rockBtn{
    background: blue;
  
}
#paperBtn{
    background: green;
}
#scissorsBtn{
    background: peru;
}
.opt{
    display: flex;
     flex: 1;
     justify-content: space-evenly;
    
 }
 .key{
     font-size: 20px;;
     min-width: 180px;
     min-height: 180px;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }

 /*Creating output board*/
.decisionBoard {
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
}

#userDecision{
    background: #5F9EA0;
    min-width: 180px;
    min-height: 180px;
}

#computerDecision{
    background: #FFD700;
    min-width: 180px;
    min-height: 180px;
}

.gameResult{
   

}

#points-display{
   
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin: 20px;
}

#computer-points, #user-points{
    width: 100px;
    height: 50px;
    background: #E5E7EB;
}

#winner-display{
    background: red;
    width: 150px;
    height: 50px;
    margin: 20px;
}